VITE_BACKEND_URL_BASE=http://localhost:3000
VITE_API_KEY=AIzaSyAw05DOIWP14ttHtqvw0ubL-Dz2KNm_LZw
VITE_AUTH_DOMAIN=proyecto-matteroftrust.firebaseapp.com
VITE_PROJECT_ID=proyecto-matteroftrust
VITE_STORAGE_BUCKET=proyecto-matteroftrust.firebasestorage.ap
VITE_MESSAGING_SENDER_ID=79810866389
VITE_APP_ID=1:79810866389:web:ce2d6a42954f188e16065c
VITE_MEASUREMENT_ID=G-TSY238GQQZ

VITE_CLOUDINARY_CLOUD_NAME=dipekrqx5
VITE_CLOUDINARY_UPLOAD_PRESET=ml_default
VITE_CLOUDINARY_API_URL=cloudinary://943233421945775:rfIS8g-ej1GpcNEtQid13pDmIPU@dipekrqx5