@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Bahnschrift;
    --Azul-desactivado: #E1F4FE;
    --Azul-activado: #146FB7;
}
/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1976d2;
    padding: 0 20px;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links {
    display: flex;
    gap: 20px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar .nav-links a:hover {
    background-color: #1565c0;
}

.card {
    padding: 2rem;
}

.read-the-docs {
    color: #888;
}

h1 {
    text-align: center;
    color: #333;
}

.form-field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}


.error-text {
    color: red;
    font-size: 14px;
}

.password-tooltip {
    margin-top: 5px;
    font-size: 14px;
}

.password-tooltip ul {
    padding-left: 0px;
    list-style: none;
}

.password-tooltip li {
    margin-bottom: 8px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    align-items: center;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: Bahnschrift;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 30px;
    font-weight: 600;
}


.map-container {
    text-align: -webkit-center;
}


.gradient-background {
    background: linear-gradient(180deg, #0AA538 23.44%, #146FB7 100%);
}

.login-logo {
    height: 90px;
    width: 142px;
    padding: 10px;
    margin-bottom: 12px;
}

.login-card {
    margin: 25px;
    padding: 2rem 3rem 4rem 3rem;
    max-width: 560px;
}

.login-form {
    margin-bottom: 36px;

    input {
        width: -webkit-fill-available;
        justify-content: center;
        padding: 16px 16px 8px 16px;
        height: 55.81px;
        border-radius: 8px;
        opacity: 0px;
        box-shadow: 0px 4px 4px 0px #00000040;
        background: #F5F5F5;
        font-family: Bahnschrift;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 20px;
    }
}

.login-header {
    font-family: Bahnschrift;
    font-size: 25px;
    font-weight: 700;
    line-height: 35.5px;
    letter-spacing: -0.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #146FB7;
    margin-bottom: 14px;
}

.login-sub-header {
    font-family: Bahnschrift;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-bottom: 5px;
    margin-bottom: 40px;
    color: #494B4B;
    border-bottom: 1px solid #E0E0E0;
}

.login-sub-header-2 {
    font-family: Bahnschrift;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-bottom: 11px;
    margin-bottom: 36px;
    color: #494B4B;
    border-bottom: 1px solid #E0E0E0;
}
.rounded-xxl {
    border-radius: 30px;
}
/* Elimina bordes y márgenes del popup */
.leaflet-popup-content-wrapper {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 12px !important;
  }
  
  /* Contenedor del contenido del popup */
  .leaflet-popup-content {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    display: block;
  }
  
  /* Imagen ajustada */
  .popup-image {
    width: 100% !important;
    height: 120px !important;
    object-fit: cover;
    display: block;
  }
  
  /* Flecha del popup */
  .leaflet-popup-tip-container {
    display: none !important;
  }